<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.hatake.takoyaki.soul" 
          android:versionCode="1" 
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application android:label="One Ball Soul" android:theme="@style/Theme.AppCompat.NoActionBar">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hatake.takoyaki.soul.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
